body {
  font-family: "Varela Round", sans-serif;
}
h1 {
  color: #272142;
  font-size: 43px;
  font-weight: bold;
  position: relative;
  left: 45px;
  top: 57px;
}
ul {
  margin: 0;
  padding: 0;
}
li:first-letter {
  text-transform: capitalize;
}

li,
.current-weather {
  list-style: none;
  font-size: 17px;
  line-height: 35px;
  height: 35px;
}

li strong,
#humidity,
#wind {
  color: #f65282;
  font-weight: 400;
}

a {
  text-decoration: none;
}

.weather-app-wrapper {
  max-width: 700px;
  margin: 25px auto;
  padding: 15px;
}

.weather-app {
  background: #c0f2fc;
  border: 1px solid #878787;
  border-radius: 16px;
  padding: 10px;
}

.current-weather {
  color: #272142;
  padding: 20px;
  position: relative;
  right: -25px;
  top: 59px;
}
.current-temperature {
  color: #272142;
  font-size: 38px;
  font-weight: bold;
  padding-left: 30px;
}
.weather-description {
  color: #272142;
  padding: 20px;
}

.units {
  color: #272142;
  font-size: 20px;
  position: relative;
  top: -13px;
}

.box {
  background: #f8d9fb;
  border: 2px solid #272142;
  border-radius: 16px;
  line-height: 35px;
  padding: 10px 6px;
  margin: 10px auto;
}
.temperature {
  color: #272142;
  font-size: 15px;
}
.weather-information {
  text-align: center;
  margin: 50px auto;
  padding: 0;
}

.daily-weather {
  text-align: center;
  font-size: 16px;
}
.weather-icon {
  text-align: center;
  font-size: 40px;
}

.weather-details {
  font-size: 12px;
}
.search-form {
  margin: 25px;
  padding: 25px 75px;
}

.btn-success {
  background: #885df1;
  padding: 7px 0;
  border: none;
  transition: all 200ms ease-in-out;
}
.btn-success:hover {
  text-decoration: none;
  color: #fff;
  background: #885df1;
}
#icon {
  background: #f8d9fbf3;
  border: 3px solid #272142;
  border-radius: 50%;
  margin: 45px auto;
  font-size: 88px;
  width: 200px;
  height: 200px;
  padding: 45px;
}
